.review{

    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;


    position: relative;

    @media screen and (min-width: 320px){
        width: 320px;
        padding-top: 0;
    }

    @media screen and (min-width: 768px) {
    width: 768px;
    padding-top: 0;
    }

    @media screen and (min-width: 1440px){
        width: 1440px;
        padding-top: 0;
    }
}

.review__title{
    margin-top: 130px;
    text-align: center;

    @media screen and (min-width: 320px){
        width: 280px;
        margin-bottom: 25px;
        letter-spacing: .03em;
        margin-left: auto;
        margin-right: auto;
        font-size: 20px;
        font-weight: 800;
        line-height: 130%; /* 26px */
        letter-spacing: 0.6px;
    }


    @media screen and (min-width: 768px){
    width: 688px;
    margin-bottom: 70px;
    letter-spacing: .03em;
    margin-left: auto;
    margin-right: auto;
    font-size: 26px;
    font-weight: 800;
    line-height: 1.3;
    }

    @media screen and (min-width: 1440px){
        width: 688px;
        margin-bottom: 147px;

        margin-left: auto;
        margin-right: auto;
        @include font($fs: 46px, $fw: 800);
        text-align: center;
        letter-spacing: 1.38px;
}
}

.review__block-title{

    color: var(--accent-color);

    @media screen and (min-width: 320px){
        text-align: center;
        @include font($fs: 14px, $fw: 800);
        letter-spacing: 1.12px;
        margin-bottom: 20px;
    }

    @media screen and (min-width: 768px){
        text-align: left;
        @include font($fs: 20px, $fw: 800);
        letter-spacing: 1.6px;
        margin-bottom: 10px;
    }

    @media screen and (min-width: 1440px){
        text-align: left;
        @include font($fs: 30px, $fw: 800);
        letter-spacing: 2.4px;
        margin-bottom: 10px;
    }


}

.review__text{
    display: block;

    @media screen and (min-width: 320px){
        @include font($fs: 12px, $fw: 500);
    
        letter-spacing: 0.96px;
        color: var(--link-color);
    
        &--descr{
            padding-top: 18px;
            @include font($fs: 12px, $fw: 500);
            letter-spacing: 1.12px;
            line-height: 20px; /* 166.667% */
            color: var(--text-color);
        }
        }

    @media screen and (min-width: 768px){
        @include font($fs: 12px, $fw: 500);
    
        letter-spacing: 0.96px;
        color: var(--link-color);
    
        &--descr{
            padding-top: 18px;
            @include font($fs: 12px, $fw: 500);
            letter-spacing: 1.12px;
            line-height: 20px; /* 166.667% */
            color: var(--text-color);
        }
        }

        @media screen and (min-width: 1440px){
            @include font($fs: 14px, $fw: 500);
        
            letter-spacing: 1.12px;
            color: var(--link-color);
        
            &--descr{
                padding-top: 18px;
                @include font($fs: 18px, $fw: 500);
                letter-spacing: 1.12px;
                line-height: 28px; /* 155.556% */
                color: var(--text-color);
            }
}
}

.review__link{
    padding-bottom: 40px;
    color: var(--accent-color);

    @media screen and (min-width: 320px){
        text-align: center;
        @include font($fs: 12px, $fw: 500);
        line-height: 20px
        
    }

    @media screen and (min-width: 768px){
        text-align: left;
        @include font($fs: 12px, $fw: 500);
        line-height: 20px
    }

    @media screen and (min-width: 1440px){
        text-align: left;
        @include font($fs: 18px, $fw: 500);
        letter-spacing: 1.12px;
        
    }
    
}

.review__block{
    @media screen and (min-width: 768px){
    width: 688px;
    height: 314px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
}

@media screen and (min-width: 1440px){
    position: relative;
    width: 1090px;
    justify-content: center;
    gap: 40px;

    align-items: center;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 51px;
    display: flex;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
}
}

.review__trumb{
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 320px){
    margin-bottom: 22px;
    }

    @media screen and (min-width: 768px){
        margin-bottom: 0;
    }
    
    @media screen and (min-width: 1440px){
        margin-bottom: 0;
    }
}

.review__wrapper{
    display: flex;
    flex-direction: column;
}

.review__icon-facebook{
    margin-top: 17.53px;
    width: 34px;
    height: 34px;
}
.review__container{
    @media screen and (min-width: 768px){
    width: 412px;
    flex-direction: column;
    display: flex;
    padding-bottom: 50px;
}

@media screen and (min-width: 1440px){
    width: 706px;
    flex-direction: column;
    display: flex;
}
}

.review__graduated{
    @media screen and (min-width: 320px){
        text-align: center;
    }

    @media screen and (min-width: 768px){
        text-align: left;
    }

    @media screen and (min-width: 1440px){
        text-align: left;
    }
}

.wrapper {
    display: inline-flex;


    @media screen and (min-width: 320px){
        margin-bottom: 61px;
        margin-top: 52px;

    }

    @media screen and (min-width: 768px){
        margin-bottom: 70px;
        margin-top: 0;
    }

    @media screen and (min-width: 1440px){
        margin-bottom: 130px;
        margin-top: 0;
    }
    
}

.silder__list-1{
    @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
}
}

.silder__list-2{
    @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
}
}
.silder__list-3{
    @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
}
}
.silder__list-4{
    @media screen and (min-width: 320px) and (max-width: 768px) {
        display: none;
}
}


.slider{
    justify-content: space-between;
    display: flex;

    @media screen and (min-width: 320px) and (max-width: 767px) {
        gap: 10px;
        padding-right: 40px;


}

    @media screen and (min-width: 768px){
        gap: 30px;
        &:nth-child(-n + 4){
            display: flex;
        }
    }

    @media screen and (min-width: 1440px){
        gap: 30px;
        &:nth-child(-n + 4){
            display: flex;
        }
    }
}
.silder__icon{
    fill: var(--accent-color);
}