
:root{

  --accent-color: #FF6B09;
  --text-color: #111518;
  --background-color-black: #111518;
  --title-color-white: #fff;
  --link-color: #B9B9B9;
  --function-transition: cubic-bezier(0.4, 0, 0.2, 1);
  --icon-color-fire-black: #3D3D3D;
  --fourth-background-color: #f1f1f1;
  --background-color: #fff;
  --main-font: 'Montserrat';
  --secondary-font: 'Montserrat';
  --drop-shadow-btn:(-5px 21px 26px rgba(0, 0, 0, 0.04))(-5px 21px 26px rgba(0, 0, 0, 0.04));
  --set-gap: 40px;
}